<!DOCTYPE html>
<html lang="{{siteLang}}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{siteDescription}}">
    <meta name="author" content="{{siteAuthor}}">
    <title>{{siteTitle}}</title>
    {{#production}}<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/bootstrap.min.css" rel="stylesheet">{{/production}}
	{{^production}}<link href="/css/bootstrap.min.css" rel="stylesheet">{{/production}}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{siteTitle}}</a>
        </div>
        <div class="navbar-collapse collapse">

        </div>
      </div>
    </div>
    <ul class="nav nav-pills nav-stackable" style="max-width:300px">
      <li class="active" href="/"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</li>
      <li class="dropdown" href="/">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-file"></span> Posts <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/posts">All posts <span class="badge badge-default">0</span></a></li>
          <li><a href="/cats">Categories</a></li>
          <li><a href="/else">I don't know what else, Jimmy.</a></li>
      </li>
      <li href="/"><span class="glyphicon glyphicon-picture"></span> Media <span class="badge badge-default">0</span></li>
    </ul>
    {{#production}}<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>{{/production}}
    {{^production}}<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>{{/production}}
  </body>
</html>
